/*
PROJECT STYLES
==============
Imports all project style components.
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Open Sans'; }

html {
  font-size: 15px; }
  @media all and (max-width: 1400px) {
    html {
      font-size: 13px; } }
  @media all and (max-width: 1199px) {
    html {
      font-size: 11px; } }
  @media all and (max-width: 991px) {
    html {
      font-size: 10px; } }

.wrapper {
  width: 100%;
  max-width: 1600px;
  min-width: 280px;
  margin: 0 auto; }

.nav {
  width: 100%;
  background-color: #96cccc;
  height: 125px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border-top: 8px solid #d5d5d5; }
  @media all and (max-width: 991px) {
    .nav {
      padding: 0 15px;
      height: 90px; } }
  @media all and (max-width: 767px) {
    .nav {
      flex-wrap: wrap;
      height: 180px;
      padding: 0;
      padding-bottom: 5px; } }
  @media all and (max-width: 575px) {
    .nav {
      height: auto; } }
  .nav__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 30px; }
    @media all and (max-width: 767px) {
      .nav__list {
        justify-content: space-around; } }
    @media all and (max-width: 575px) {
      .nav__list {
        width: 100%;
        height: auto;
        padding: 0;
        flex-wrap: wrap;
        justify-content: flex-start; } }
  @media all and (max-width: 767px) {
    .nav__list--left {
      order: 2;
      padding-right: 0; } }
  @media all and (max-width: 767px) {
    .nav__list--right {
      order: 3;
      padding-left: 0; } }
  .nav__list-item {
    padding: 0 20px; }
    @media all and (max-width: 991px) {
      .nav__list-item {
        padding: 0 10px; } }
    @media all and (max-width: 575px) {
      .nav__list-item {
        width: 100%;
        height: 35px; } }
  .nav__link {
    cursor: pointer; }
  .nav__text {
    color: #003f8c;
    font-size: 1.3rem;
    font-weight: 400; }
  .nav__list-item--location {
    display: flex;
    align-items: center; }
  @media all and (max-width: 575px) {
    .nav__list-item--narrower {
      width: 50px;
      height: 45px; } }
  .nav__logo-container {
    width: 25%;
    position: relative; }
    @media all and (max-width: 767px) {
      .nav__logo-container {
        order: 1;
        width: 100%;
        height: 125px;
        background-color: #003f8c; } }

.logo {
  position: absolute;
  top: -8px;
  width: 100%;
  padding: 25px 0;
  background-color: #003f8c;
  border: 8px solid #fff;
  border-top: none; }
  @media all and (max-width: 991px) {
    .logo {
      padding: 20px 0; } }
  @media all and (max-width: 767px) {
    .logo {
      width: auto;
      height: 100%;
      border: none;
      top: 0;
      left: 50%;
      transform: translateX(-50%); } }
  .logo__stars-group {
    display: flex;
    justify-content: center;
    height: 34px;
    box-sizing: content-box; }
    @media all and (max-width: 991px) {
      .logo__stars-group {
        height: 21px;
        padding: 0 20px; } }
  @media all and (max-width: 991px) {
    .logo__star-elem {
      width: 30px; } }
  .logo__image {
    width: 60%;
    margin: 0 auto;
    padding-top: 18px;
    display: block;
    box-sizing: content-box; }

.header {
  background: url("../images/photos/header.png");
  background-position: bottom center;
  background-size: cover; }

.jumbotron {
  height: 772px;
  width: 60%;
  margin: 0 auto;
  background-color: #003f8cc0; }
  .jumbotron__title {
    max-width: 75%;
    margin: 0 auto;
    font-size: 4.8rem;
    font-family: "Playfair Display", serif;
    color: #fff;
    font-weight: 400;
    text-align: center; }
