* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Open Sans";
}

html {
  font-size: 15px;

  @media #{$max1400} {
    font-size: 13px;
  }

  @media #{$max1199} {
    font-size: 11px;
  }

  @media #{$max991} {
    font-size: 10px;
  }
}

.wrapper {
  width: 100%;
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.section {
  padding: 5.5rem 13.6rem;

  @media #{$max991} {
    padding: 50px 100px;
  }
  @media #{$max767} {
    padding: 30px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    position: relative;

    @media #{$max767} {
      justify-content: center;
    }

    @media #{$max575} {
      // margin-bottom: 30px;
    }

    &--rev {
      flex-direction: row-reverse;
    }

    &--restaurants {
      padding-top: 10px;

      @media #{$max575} {
        padding-top: 0;
      }
    }

    &--contact {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__btn {
    width: 18.3rem;
    height: 5.5rem;

    &--center {
      display: block;
      margin: 30px auto 0 auto;
    }
  }
}

.content-box {
  &__title {
    padding-bottom: 1.5rem;
    font-size: 2.45rem;
    font-weight: 300;
    color: #003f8c;

    @media #{$max991} {
      padding-bottom: 5px;
    }

    &-color {
      color: #ffb01e;
      font-weight: 600;
    }
  }
}
