* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Open Sans';
}

html {
    font-size: 15px;

    @media #{$max1400} {
        font-size: 13px;
    }

    @media #{$max1199} {
        font-size: 11px;
    }

    @media #{$max991} {
        font-size: 10px;
    }
}

.wrapper {
    width: 100%;
    max-width: 1600px;
    min-width: 280px;
    margin: 0 auto;
    overflow: hidden;
}
