.nav {
  width: 100%;
  background-color: rgb(150, 204, 204);
  height: 125px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border-top: 8px solid #d5d5d5;

  @media #{$max991} {
    padding: 0 15px;
    height: 90px;
  }

  @media #{$max767} {
    flex-wrap: wrap;
    height: 180px;
    padding: 0;
    padding-bottom: 5px;
  }

  @media #{$max575} {
    height: auto;
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 30px;

    @media #{$max767} {
      justify-content: space-around;
    }

    @media #{$max575} {
      width: 100%;
      height: auto;
      padding: 0;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &__list--left {
    @media #{$max767} {
      order: 2;
      padding-right: 0;
    }
  }

  &__list--right {
    @media #{$max767} {
      order: 3;
      padding-left: 0;
    }
  }

  &__list-item {
    padding: 0 20px;
    @media #{$max991} {
      padding: 0 10px;
    }

    @media #{$max575} {
      width: 100%;
      height: 35px;
    }
  }

  &__link {
    cursor: pointer;
  }

  &__text {
    color: #003f8c;
    font-size: 1.3rem;
    font-weight: 400;
  }

  &__list-item--location {
    display: flex;
    align-items: center;
  }

  &__list-item--narrower {
    @media #{$max575} {
      width: 50px;
      height: 45px;
    }
  }

  &__logo-container {
    width: 25%;
    position: relative;

    @media #{$max767} {
      order: 1;
      width: 100%;
      height: 125px;
      background-color: #003f8c;
    }
  }
}

.logo {
  position: absolute;
  top: -8px;
  width: 100%;
  padding: 25px 0;
  background-color: #003f8c;
  border: 8px solid #fff;
  border-top: none;

  @media #{$max991} {
    padding: 20px 0;
  }

  @media #{$max767} {
    width: auto;
    height: 100%;
    border: none;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__stars-group {
    display: flex;
    justify-content: center;
    height: 34px;
    box-sizing: content-box;

    @media #{$max991} {
      height: 21px;
      padding: 0 20px;
    }
  }

  &__star-elem {
    @media #{$max991} {
      width: 30px;
    }
  }

  &__image {
    width: 60%;
    margin: 0 auto;
    padding-top: 18px;
    display: block;
    box-sizing: content-box;
  }
}
