.nav {
  width: 100%;
  background-color: $white;
  height: 125px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border-top: 8px solid $border-color;

  @media #{$max991} {
    padding: 0 15px;
    height: 90px;
  }

  @media #{$max767} {
    flex-wrap: wrap;
    height: 180px;
    padding: 0;
    padding-bottom: 5px;
  }

  @media #{$max575} {
    height: auto;
    position: relative;
  }

  &__toggle-container {
    display: none;

    @media #{$max575} {
      display: block;
      order: 2;
      padding: 10px;
      width: 100%;
    }
  }

  &__toggle-icon {
    width: 30px;
    cursor: pointer;
  }

  &__media-icons {
    display: inline-block;
    float: right;
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    transition: transform .3s;

    @media #{$max767} {
      justify-content: space-around;
    }

    @media #{$max575} {
      width: 100%;
      height: auto;
      padding: 0;
      flex-wrap: wrap;
      justify-content: flex-start;
      position: absolute;
      background-color: $white;
    }
  }

  &__list--left {
    padding-right: 30px;
    padding-left: 60px;
    @media #{$max767} {
      order: 2;
      padding-right: 0;
    }

    @media #{$max575} {
      padding-left: 0;
      top: 182px;
    }
  }

  &__list--right {
    padding-left: 30px;
    @media #{$max767} {
      order: 3;
      padding-left: 0;
    }

    @media #{$max575} {
      top: 286px;
    }
  }

  &__list--moved {
    @media #{$max575} {
      transform: translateX(-100%);
      transition: all .3s;
    }
  }

  &__list-item {
    padding: 0 20px;
    @media #{$max991} {
      padding: 0 10px;
    }

    @media #{$max575} {
      width: 100%;
      height: 35px;
    }
  }

  &__link {
    cursor: pointer;

    @media #{$max575} {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    color: $main-color;
    font-size: 1.3rem;
    font-weight: 400;
  }

  &__list-item--location {
    display: flex;
    align-items: center;
  }

  &__list-item--narrower {
    @media #{$max575} {
      display: none;
    }
  }

  &__logo-container {
    width: 25%;
    position: relative;

    @media #{$max767} {
      order: 1;
      width: 100%;
      height: 125px;
      background-color: $main-color;
    }
  }
}

.logo {
  position: absolute;
  top: -8px;
  width: 100%;
  padding: 25px 0;
  background-color: $main-color;
  border: 8px solid $white;
  border-top: none;

  @media #{$max991} {
    padding: 20px 0;
  }

  @media #{$max767} {
    width: auto;
    height: 100%;
    border: none;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__stars-group {
    height: 34px;

    @media #{$max991} {
      height: 21px;
      padding: 0 20px;
    }
  }

  .star-elem--logo {
    @media #{$max991} {
      width: 30px;
    }
  }

  &__image {
    width: 60%;
    margin: 0 auto;
    padding-top: 18px;
    display: block;
    box-sizing: content-box;

    @media #{$max991} {
      width: 90%;
    }

    @media #{$max767} {
      width: 60%;
    }
  }
}
