.rooms {
  &__content {
    text-align: justify;
    display: inline-block;
    width: 46%;
  }

  &__content-part {
    padding-bottom: 1.3rem;
  }

  &__image-container {
    display: inline-block;
    width: 54%;

    @media #{$max575} {
      width: 100%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
  }

  .content-box {
    padding-top: 2.5rem;
    padding-bottom: 160px;
    display: flex;
    flex-wrap: wrap;

    @media #{$max1400} {
      padding-bottom: 80px;
    }

    @media #{$max1199} {
      font-size: 11px;
    }

    @media #{$max991} {
      padding-top: 0;
    }

    @media #{$max767} {
      width: 40%;
    }

    @media #{$max575} {
      width: 100%;
      padding: 0;
      padding-top: 10px;
    }

    &--padding-left {
      padding-left: 6rem;

      @media #{$max991} {
        padding-left: 30px;
      }

      @media #{$max575} {
        padding-left: 0;
      }
    }

    &--padding-right {
      padding-right: 6rem;
      display: flex;
      justify-content: flex-end;

      @media #{$max991} {
        padding-right: 30px;
      }

      @media #{$max575} {
        padding-right: 0;
      }
    }

    &__icons {
      width: 70%;
      max-width: 180px;
      display: flex;
      justify-content: space-between;
      @media #{$max767} {
        padding-bottom: 20px;
      }
    }

    &__icon {
      color: $main-color;
      height: 2.7rem;
    }

    &__price {
      background-color: $main-color;
      color: $white;
      width: 40%;
      height: 6rem;
      position: absolute;
      bottom: 0;
      font-size: 1.4rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &--left {
        right: 14%;

        @media #{$max767} {
          right: 17%;
        }
      }

      &--right {
        left: 14%;

        @media #{$max767} {
          left: 17%;
        }
      }

      @media #{$max575} {
        position: static;
        width: 100%;
        left: 0;
        top: 0;
      }
    }
  }
}
