.section {
  padding: 5.5rem 13.6rem;

  @media #{$max991} {
    padding: 50px 100px;
  }
  @media #{$max767} {
    padding: 30px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__content {
    text-align: justify;
    display: inline-block;
    &--about {
      width: 63%;
      padding-right: 8.2rem;
      padding-bottom: 1rem;

      @media #{$max991} {
        padding-right: 50px;
      }
      @media #{$max767} {
        padding-right: 30px;
      }
      @media #{$max575} {
        width: 100%;
        padding-right: 0;
      }
    }

    &--rooms {
      width: 42%;
    }
  }

  &__content-part {
    padding-bottom: 1.3rem;

    &--padding-btm {
      padding-bottom: 3.5rem;
    }
  }

  &__btn {
    width: 18.3rem;
    height: 5.5rem;
  }

  &__image-container {
    display: inline-block;

    &--about {
      width: 37%;
      position: relative;

      @media #{$max575} {
        display: none;
      }
    }

    &--rooms {
      width: 58%;
    }
  }

  &__image {
      &--rooms {
        height: 100%;
      }
  }

  .content-box {
    padding-left: 6rem;
    padding-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;

    @media #{$max1400} {
        padding-top: 10px;
    }
    &__title {
      padding-bottom: 1.5rem;
      font-size: 2.5rem;
      font-weight: 300;
      color: #003f8c;

      &-color {
        color: #ffb01e;
        font-weight: 600;
      }
    }

    &__icons {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        color: #003f8c;
        height: 2.7rem;
    }

    &__price-box {
        height: 25%;
        width: 100%;
        display: flex;
        align-self: flex-end;
        position: relative;
    }

    &__price {
        background-color: #003f8c;
        color: #fff;
        width: 100%;
        height: 100%;
        position: absolute;
        left: -50%;
    }
  }

  &__bcg-image {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 145%;

    &--about {
      background: url("../../images/photos/hotel_1.png");
      background-size: cover;
    }

    @media #{$max1400} {
      height: 140%;
    }

    @media #{$max767} {
      height: 100%;
      top: -30px;
    }
  }

  &__image {
    width: 100%;
  }
}
