.section {
  &__title-container {
    position: relative;
    padding-bottom: 2.8rem;

    &--right {
      text-align: right;
    }
  }
  &__title {
    font-size: 2.7rem;
    color: #003f8c;
    text-transform: uppercase;
    font-weight: normal;
    width: 150px;
    line-height: 2.7rem;
    padding-top: 10px;
    padding-bottom: 1rem;

    &--right {
      margin: 0 0 0 auto;
    }
  }

  &__title-stripe {
    border-bottom: 2px solid #003f8c;
    width: 62%;
    position: absolute;
    top: 30px;
    z-index: 2;

    &--left {
      left: 150px;
    }

    &--right {
      right: 150px;
    }
  }

  &__stars-group {
    width: 100px;
    justify-content: space-between;

    &--right {
      margin: 0 0 0 auto;
    }
  }

  .star-elem--section {
    width: 20px;
  }

  &__desc {
    color: #fff;
    background-color: #003f8c;
    font-size: 1.33rem;
    padding: 2rem 3rem 2rem 13.6rem;
    width: 163%;
    // position: absolute;
    // top: 0;
    // left: -50%;
    // z-index: 5;

    width: calc(63% + 13.6rem);
    position: absolute;
    top: 30px;
    z-index: 2;
    left: -13.6rem;
    text-align: justify;
    font-weight: 300;
    top: -30px;

    @media #{$max575} {
      position: relative;
      width: calc(100% + 60px);
      left: -30px;
      padding: 2rem 3rem 2rem 3rem;
      margin-top: 50px;
    }
  }
}
